html {
    background-color: #b5eef7;
    text-align: center;
}

#title {
    font-size: 350%;
}

#enter_info {
    border: 3px ridge black;
    border-radius: 15px;
    background-color: white;
    font-size: 130%;
}